<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/4020e9bdd2.js" crossorigin="anonymous"></script>
  <title>Bistro MMI : {% block title %}{% endblock %}</title>
  <link rel="icon" type="image/ico" href="{{ asset('/img/logo/icone.png') }}" />
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  {% block additional_css %}{% endblock %}
  <link rel="stylesheet" href="{{ asset( '/css/app.css' ) }}">
</head>

<body>
  {% block content %}{% endblock %}
  <!-- JS -->
  {% block additional_js %}{% endblock %}
  
  <script src="{{ asset( '/js/app.js' ) }}"></script>
</body>

</html>